* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: ProximaNova;
}
@font-face{
    font-family: ProximaNova;
    src: url(font154/proximanova.ttf)
}
.mybutton {
    width: 6%;
    height: 100%;
    position: fixed;
    background-color: #1d2531;
    z-index: 2;
}

.top-button {
    text-align: center;
}
.top-button img {
    width: 70%;
    margin-top: 15px;
}
.bottom-button {
    position: absolute;
    left: 20%;
    bottom: 15px;
}
.bottom-button img {
    width: 32%;
}
.bottom-button img:first-child {
    margin-right: 10px;
}
.menu {
    width: 24%;
    height: 100%;
    color: white;
    position: fixed;
    background-color:#222c3c;
}
.menu ul {
    width: 60%;
    margin-top: 18px;
    margin-left: 33%;
    padding-bottom: 18px;
    border-bottom: 1px solid #425371;
}
.menu ul:nth-child(3) {
    border-bottom: none;
}
.menu ul:nth-of-type(1) h4 {
    margin-top: 5px;
}
.menu ul h4 {
    display: inline-block;
    opacity: .3;
}
.menu ul:nth-child(1) .set{
    margin-top: 5px;
}
.menu ul li {
    opacity: .9;
}
.menu ul li p {
    margin-top: 13px;
    font-size: 14px;
    display: inline-block;
}
.menu ul img {
    float: right;
}
.menu ul:nth-child(2) li img {
    padding-top: 10px;
    float: none;
    position: absolute;
}
.menu ul:nth-child(2) li p {
    margin-left: 25px;
}
.menu ul:nth-child(1) li img{
    padding-top: 5px;
}
.menu ul:nth-child(3) li img{
    padding-top: 7px;
}
.goal {
    width: 60%;
    margin-top: 55px;
    margin-left: 33%;
    font-size: 0.5rem;
}
.goal p {
    display: inline-block;
}
.goal p:nth-child(2) {
    position: absolute;
    right: 30px;
}
.goal span {
    opacity: .7;
}
/* **********************蓝色部分结束******************* */
nav {
    width: 76%;
    height: 70px;
    position: fixed;
    right: 0;
    border-bottom: 1px solid rgb(230,233,236);
    box-sizing: border-box;
    background-color: white;
    z-index: 2;

}
nav span {
    font-size: 24px;
    color: rgb(53,64,82);
    line-height: 70px;
    margin-left: 20px;
    border-width: border;
}
nav .person {
    display: inline-block;
    position: absolute;
    right: 85px;
    top:15px;
}
nav .person p:nth-child(1) {
    margin-bottom: 8px;
    color: rgb(35,153,241);
    font-weight: bolder;
}
nav .person p:nth-child(2) {
    color: rgb(181,181,181);
    font-size: 14px;
    font-weight: bolder;
}
nav .dropdown {
    position: absolute;
    top: 28px;
    right: 35px;
}
nav img:nth-child(2){
    top: 8px;
    right: 180px;
    position: absolute;
}
.search {
    width: 76%;
    height: 60px;
    margin-top: 70px;
    position: fixed;
    right: 0;
    border-bottom: 1px solid rgb(229, 232, 238);
    background-color: white;
    z-index: 2;

}
.search form {
    width: 35%;
    height: 60px;
    text-align: center;
    border-right: 1px solid rgb(229, 232, 238);
    display: inline-block;
    box-sizing: border-box;
}
.search form input {
    margin-top: 10px;
    font-size: 18px;
    text-indent: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(229, 232, 238);
    border-radius: 4px;
    width: 85%;
    height: 60%;

}
.search form img {
    position: absolute;
    left: 29%;
    top: 20px;

}
.search .page {
    width: 64%;
    height: 60px;
    display: inline-block;
    position: absolute;
}
.search .page div,.search .page img,.search .page p{
    display: inline-block;
    vertical-align: top;
    line-height: 60px;

}
.search .page p {
    font-size: 18px;
    color: rgb(53,64,82);
    margin-left: 20px;
}

.search .page img:nth-of-type(1) {
    margin-top: 25px;
    margin-left: 10px;
}
.search .page .page-right {
    font-size: 10px;
    position: absolute;
    right: 20px;
}
.search .page .page-right p{
    font-size: 14px;
    margin-right: 10px;
}
.search .page .page-right img {
    margin-top: 15px;
}
.search .page .page-right img:nth-of-type(1) {
    padding-right: 20px;
    border-right: 1px solid rgb(229, 232, 238);
}
/* **********************导航部分结束******************* */
.friends {
    width: 26.5%;
    margin-top: 130px;
    margin-left: 24%;
    display: inline-block;
}
.friends ul li {
    width: 85%;
    margin-top: 20px;
    margin-left: 20px;
    height: 130px;
    position: relative;
    border-bottom: 1px solid rgb(229, 232, 238);
}
.friends ul li:nth-of-type(1) p:nth-of-type(1) img {
    margin-right: 10px;
}
.friends ul li:nth-of-type(1) p:nth-of-type(3) img {
    top: 65px;
    right: -30px;
    position: absolute;
}
.friends ul li p:nth-child(2){
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bolder;
    color:rgb(53,64,82);
    display: inline-block;
    vertical-align: top;
}
.friends ul li span {
    right: 10px;
    top: 10px;
    position: absolute;
    vertical-align: top;
    display: inline-block;
}
.friends ul li p:nth-child(4){
    left: 60px;
    top:30px;
    font-size: 14px;
    color:rgb(53,64,82);
    position: absolute;

}
.friends ul li p:nth-child(5){
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    color:rgb(53,64,82);
}
/* **********************白色左边部分结束******************* */
.messag {
    width: 49%;
    margin-top: 130px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
}